@import "message_overlay.css";

/* white dashed line around snippet code */
.reveal pre.live-coding-snippet {
  padding: 1px;
  border: 1px dashed white;
}

.reveal pre.fit-content code {
  max-height: fit-content;
}

.reveal pre.live-coding-tabcontent code {
  max-height: 480px;
}
/* Tab menu */
.live-coding-tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  width: 100%;
  height: 1em;
}

/* Tab Buttons */
.live-coding-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: large;
}
.live-coding-tab button[active] {
  background-color: rgb(177, 177, 177);
  text-decoration:underline;
}
.live-coding-tab button[active]:hover {
  background-color: rgb(177, 177, 177);
}
.live-coding-tab button:hover {
  background-color: #ddd;
}

.reveal div.live-coding-multi {
  position: relative;
}

/* Box around code */
.reveal pre.live-coding-tabcontent {
  position: absolute;
  margin: 0px;
  width: 100%;
  display: block; 
  visibility: hidden;
  border: 2px solid #ccc;
  border-top: none;
  animation: fadeEffect 0.5s;
  height: inherit;
}

/* Box containing code */
.reveal pre.live-coding-tabcontent code {
  overflow: auto;
  /*max-height: inherit;*/
  height: inherit;
}

/* Run Button */
.live-coding-tab .run-button {
  background-color: #ccc;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
